<!doctype html>
<html ng-app="myApp">
<head>
  <title></title>
</head>
<body ng-controller="bodyController">
	<!-- all elements in the body use the bodyController scope -->
	<h1>{{title}}</h1>

	<h3>Input</h3>
  	<input ng-model="text">

 	<h3>Output</h3>
	<p ng-bind="text"></p>

 	<div ng-repeat="name in names">
 		{{name}}
		</div>

 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
 	<script type="text/javascript">
	   	// define the module: don't forget the dependencies array!
			angular.module('myApp', []);

		// get the module and define the body controller by name
		angular.module('myApp').controller('bodyController', function($scope) {
			// set up the scope
		 	$scope.title = 'Test Page';
	      	$scope.text = 'hello world';
	      	$scope.names = ['Philip', 'Margaret', 'John', 'Penelope'];
		});

 	</script>
</body>
</html>